.DS_Store
.dart_tool/
.packages
.pub/
build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*

# Packages should not commit the "pubspec.lock" file. See
# https://stackoverflow.com/a/16136740/8358501
/pubspec.lock
